<div class="bg-neutral-dark">
  <div class="px-6 py-4">
    <h2 class="text-2xl font-semibold text-green-500">
      {{ data.title }}
    </h2>
    <p class="mt-2 text-gray-300">{{ data.message }}</p>
  </div>

  <div class="border-t border-gray-700 px-6 py-4
           flex justify-end space-x-3">
    <app-button mat-button (click)="onCancel()" type="danger">
      {{ data.cancelText || 'Cancel' }}
    </app-button>

    <app-button mat-raised-button (click)="onConfirm()" type="success">
      {{ data.confirmText || 'Accept' }}
    </app-button>
  </div>
</div>