// src/styles/_custom-theme.scss
@use '@angular/material' as mat;

// 1) Defina as paletas
$yellow-palette: mat.define-palette(mat.$yellow-palette, 600);
$black-palette: mat.define-palette(mat.$grey-palette, 900);

// 2) Crie o tema escuro com suas cores
$app-dark-theme: mat.define-dark-theme((color: (primary: $yellow-palette,
                accent: $black-palette,
                warn: mat.define-palette(mat.$red-palette),
            ),
            typography: mat.define-typography-config(), // usa tipografia padrão
        ));

// 3) Inclua os estilos do Material
@include mat.core(); // CSS base do Material
@include mat.all-component-themes($app-dark-theme);