<div class="flex px-3 py-2 justify-between bg-primary-default rounded-lg m-1">
    <div class="flex items-center space-x-2">
        <img class="h-10"
            src="https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600nw-1037719192.jpg" />
        <p>Nome da empresa</p>
    </div>
    <div class="text-center">
        <p class="text-xl">Nome do jogo</p>
        <p class="text-xs">PDs restantes: 1000</p>
    </div>
    <div>
        <p class="text-sm">R$50000</p>
        <p class="text-xs">Fans: 1000</p>
    </div>
</div>