<div class="flex flex-col mr-1 justify-between h-full gap-1">
    <div class="flex px-3 bg-primary-default rounded-lg h-1/10 justify-between items-center">
        <div class="flex flex-col text-sm">
            <p>Turno 1</p>
            <p>Subturno 1</p>
        </div>
        <div>
            <app-button size="small" type="default">-></app-button>
        </div>
    </div>
    <div class="px-2 py-1 bg-primary-default rounded-lg h-4/10">
        graficos
    </div>
    <div class="px-2 py-1 bg-primary-default rounded-lg h-5/10">
        alertas
    </div>
    <div class="px-2 py-1 flex justify-between bg-primary-default rounded-lg h-1/10">
        <app-button size="small" type="success">suporte</app-button>
        <app-button size="small" type="success">O</app-button>
    </div>
</div>