@use '@angular/material' as mat;
@use "tailwindcss";

@theme {
    --color-primary-default: #335B4C;
    --color-secondary-default: #4C5B33;
    --color-tertiary-default: #5B334C;
    --color-success-default: #28A745;
    --color-info-default: #17A2B8;
    --color-warning-default: #FFC107;
    --color-danger-default: #DC3545;
    --color-neutral-dark: #1E1E1E;
    --color-neutral-light: #D9D9D9;
}

*{
    color: var(--color-slate-50);
}